<a href="https://colab.research.google.com/github/Mildredkulei7/IP_Week_4/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_06_Mildred_Kulei_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Independent Project- Electric car-sharing service company.

## 1.0 Importing our Libraries

In [180]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file

In [154]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
autolib_df = pd.read_csv('Autolib_dataset (2).csv')
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

## 1.2 Previewing our Dataset

In [155]:
# Let's preview the first 10 rows of our data
# 
autolib_df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

## 1.3 Accessing Information about our Dataset

In [156]:
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## 1.4 Cleaning our Dataset

### 1.41) Validity:

I will perform data cleaning procedures that i think suitable for the various dimensions of data.

In [157]:
#procedure: Irrelevant Data Observation
# Data Cleaning Action: Dropping Displayed comment attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
autolib_df.drop(["Displayed comment"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 24 columns]

In [158]:
#procedure: Irrelevant Data Observation
# Data Cleaning Action: Dropping Geo point attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
autolib_df.drop(["Geo point"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [159]:
#procedure: Irrelevant Data Observation
# Data Cleaning Action: Dropping Subscription status attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
autolib_df.drop(["Subscription status"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 22 columns]

In [160]:
#procedure: Irrelevant Data Observation
# Data Cleaning Action: Dropping Public name status attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
autolib_df.drop(["Public name"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 21 columns]

In [161]:
# Procedure: Syntax errors
# Data Cleaning Action: strip the leading and trailing spaces
# Explanation: We use the str.strip function on the respective column name to strip the leading and trailing 
#spaces
#
autolib_df['Address'] = autolib_df['Address'].str.strip()
autolib_df['Address']

0                      2 Avenue de Suffren
1                145 Rue Raymond Losserand
2         2 Avenue John Fitzgerald Kennedy
3                   51 Rue EugÃ¨ne OudinÃ©
4       6 avenue de la Porte de Champerret
                       ...
4995                   8 avenue MÃ©nelotte
4996                     37 rue de Dantzig
4997                        142 rue du Bac
4998           2 avenue du Val de Fontenay
4999                   5 Rue Henry Brisson
Name: Address, Length: 5000, dtype: object

In [162]:
# Procedure: syntax errors
# Data Cleaning Action: string replace
# Explanation: we are replacing the white spaces in order to avoid mistakes.
#
autolib_df['Address'] = autolib_df['Address'].str.replace(' ', '_')
autolib_df['Address']

0                      2_Avenue_de_Suffren
1                145_Rue_Raymond_Losserand
2         2_Avenue_John_Fitzgerald_Kennedy
3                   51_Rue_EugÃ¨ne_OudinÃ©
4       6_avenue_de_la_Porte_de_Champerret
                       ...
4995                   8_avenue_MÃ©nelotte
4996                     37_rue_de_Dantzig
4997                        142_rue_du_Bac
4998           2_avenue_du_Val_de_Fontenay
4999                   5_Rue_Henry_Brisson
Name: Address, Length: 5000, dtype: object

In [163]:
#procedure: Irrelevant Data Observation
# Data Cleaning Action: Dropping ID attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
autolib_df.drop(["ID"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2_Avenue_de_Suffren     0  ...    11      43
1              145_Rue_Raymond_Losserand     6  ...     7      24
2       2_Avenue_John_Fitzgerald_Kennedy     3  ...    20      14
3                 51_Rue_EugÃ¨ne_OudinÃ©     3  ...     4      37
4     6_avenue_de_la_Porte_de_Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8_avenue_MÃ©nelotte     2  ...    11      26
4996                   37_rue_de_Dantzig     4  ...    16      56
4997                      142_rue_du_Bac     1  ...     7       1
4998         2_avenue_du_Val_de_Fontenay     2  ...    17      27
4999                 5_Rue_Henry_Brisson     4  ...    10       2

[5000 rows x 20 columns]

In [164]:
#procedure: Irrelevant Data Observation
# Data Cleaning Action: Dropping Status attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
autolib_df.drop(["Status"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2_Avenue_de_Suffren     0  ...    11      43
1              145_Rue_Raymond_Losserand     6  ...     7      24
2       2_Avenue_John_Fitzgerald_Kennedy     3  ...    20      14
3                 51_Rue_EugÃ¨ne_OudinÃ©     3  ...     4      37
4     6_avenue_de_la_Porte_de_Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8_avenue_MÃ©nelotte     2  ...    11      26
4996                   37_rue_de_Dantzig     4  ...    16      56
4997                      142_rue_du_Bac     1  ...     7       1
4998         2_avenue_du_Val_de_Fontenay     2  ...    17      27
4999                 5_Rue_Henry_Brisson     4  ...    10       2

[5000 rows x 19 columns]

### 1.42) Accuracy:

In [165]:
autolib_df.Kind.unique()

array(['STATION', 'PARKING', 'SPACE', 'CENTER'], dtype=object)

In [166]:
# Procedure: checking if theres a value named CENTER
# Data Cleaning Action: deleted the Value CEnter in 'Kind' column
# Explanation: the center value means that it has no resources at all the reaSon we are deleting it.
autolib_df.drop(autolib_df[autolib_df['Kind'] == 'CENTER'].index, inplace = True)

autolib_df.Kind.unique()

array(['STATION', 'PARKING', 'SPACE'], dtype=object)

In [139]:
autolib_df.Status.unique()

array(['ok', 'closed', 'scheduled'], dtype=object)

In [140]:
# Procedure: checking if theres a row named 'scheduled' in 'Status' column
# Data Cleaning Action: deleted the Value SCHEDULED in 'Status' column
# Explanation: the SCHEDULED value means that it has no resources at all the reaSon we are deleting it.
autolib_df.drop(autolib_df[autolib_df['Status'] == 'scheduled'].index, inplace = True)

autolib_df.Status.unique()

array(['ok', 'closed'], dtype=object)

In [141]:
autolib_df['Rental status'].unique()

array(['operational', 'broken'], dtype=object)

In [142]:
# Procedure: checking if theres a row named 'broken' in ''Rental status'' column
# Data Cleaning Action: deleted the Value broken in ''Rental status'' column
# Explanation: the broken value means that it has only one resource reaSon we are deleting it.
autolib_df.drop(autolib_df[autolib_df['Rental status'] == 'broken'].index, inplace = True)

autolib_df['Rental status'].unique()

array(['operational'], dtype=object)

### 1.43) Completeness:

In [167]:
# Procedure 1: checking if theres any missing value
# Data Cleaning Action: no action taken
# Explanation: there is no issing values,our dataset is complete
#
autolib_df.isnull().any()

Address               False
Cars                  False
Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
Charge Slots          False
Charging Status       False
City                  False
Kind                  False
Postal code           False
Rental status         False
Scheduled at           True
Slots                 False
Station type          False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

In [168]:
# Procedure: dropping the column with the missing values
# Data Cleaning Action: drop column
# Explanation: The column has missing values in all of it's row, soit wount be helpful for analysis, 
#
autolib_df.drop(["Scheduled at"], axis = 1, inplace = True) 
  
# Display the resulting dataframe
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2_Avenue_de_Suffren     0  ...    11      43
1              145_Rue_Raymond_Losserand     6  ...     7      24
2       2_Avenue_John_Fitzgerald_Kennedy     3  ...    20      14
3                 51_Rue_EugÃ¨ne_OudinÃ©     3  ...     4      37
4     6_avenue_de_la_Porte_de_Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8_avenue_MÃ©nelotte     2  ...    11      26
4996                   37_rue_de_Dantzig     4  ...    16      56
4997                      142_rue_du_Bac     1  ...     7       1
4998         2_avenue_du_Val_de_Fontenay     2  ...    17      27
4999                 5_Rue_Henry_Brisson     4  ...    10       2

[4997 rows x 18 columns]

### 1.44) Consitency:

In [169]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
autolib_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 4997, dtype: bool

### 1.45) Uniformity:

In [170]:
# Procedure :Standardization
# Data Cleaning Action: Fixing messy column names
# Explanation: We change column names hich are uppercase, with spaces, 
# and whitespace all around.
#
autolib_df.columns = autolib_df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
autolib_df

                                 address  cars  ...  hour  minute
0                    2_Avenue_de_Suffren     0  ...    11      43
1              145_Rue_Raymond_Losserand     6  ...     7      24
2       2_Avenue_John_Fitzgerald_Kennedy     3  ...    20      14
3                 51_Rue_EugÃ¨ne_OudinÃ©     3  ...     4      37
4     6_avenue_de_la_Porte_de_Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8_avenue_MÃ©nelotte     2  ...    11      26
4996                   37_rue_de_Dantzig     4  ...    16      56
4997                      142_rue_du_Bac     1  ...     7       1
4998         2_avenue_du_Val_de_Fontenay     2  ...    17      27
4999                 5_Rue_Henry_Brisson     4  ...    10       2

[4997 rows x 18 columns]

In [171]:
# Procedure :Standardization of date and time
# Data Cleaning Action: merging columns with date and timeinto one column.
# Explanation: We merge the year,month, date, hour,minute columns to get one column with datetime to increase accuracy in the results.
#
import datetime

def create_time(row):
  year, month, day, hour, minute = row['year'], row['month'], row['day'], row['hour'], row['minute']
  return datetime.datetime(year,month, day,hour, minute)
  return pd.to_datetime({'year': year, 'month': month,'day': day, 'hour': hour, 'minute': minute})

autolib_df['datetime'] = pd.to_datetime(autolib_df.apply(lambda x: create_time(x), axis=1))

autolib_df.head()

                              address  cars  ...  minute            datetime
0                 2_Avenue_de_Suffren     0  ...      43 2018-04-08 11:43:00
1           145_Rue_Raymond_Losserand     6  ...      24 2018-04-06 07:24:00
2    2_Avenue_John_Fitzgerald_Kennedy     3  ...      14 2018-04-03 20:14:00
3              51_Rue_EugÃ¨ne_OudinÃ©     3  ...      37 2018-04-04 04:37:00
4  6_avenue_de_la_Porte_de_Champerret     3  ...      23 2018-04-08 17:23:00

[5 rows x 19 columns]

### Exporting the Cleaned Dataset

In [172]:
# Let's export our dataframe into a csv file as shown

autolib_df.to_csv('Disability_estiate.csv')

## 1.5 Answering Questions

Let's answer the following questions with our dataset using python.

2. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [149]:
autolib_df.bluecar_counter.value_counts()

0    1065
3     672
1     663
4     636
2     628
5     574
6     341
7      39
Name: bluecar_counter, dtype: int64

In [150]:
df=autolib_df[autolib_df['bluecar_counter'] == 0]
df.hour.value_counts()

14    56
20    52
16    52
23    50
19    50
2     48
18    48
8     46
7     46
5     45
11    45
21    45
22    44
3     44
13    41
15    41
4     41
10    40
9     40
6     40
17    39
1     39
0     39
12    34
Name: hour, dtype: int64

When the bluecar_counter indicates 0, it means there is no bluecar_counter in the station,meaning that it has been piked up.

so the most populer time for picking up the Blue car is at hour 14.

3. What is the most popular hour for returning cars?

In [65]:
autolib_df.cars.value_counts()

0    1065
3     672
1     663
4     636
2     628
5     574
6     341
7      39
Name: cars, dtype: int64

In [69]:
df=autolib_df[autolib_df['cars'] == 3]
df.hour.value_counts()

16    35
15    34
6     33
9     33
13    32
17    31
12    31
11    30
22    30
21    30
2     30
18    30
0     29
4     28
19    26
23    26
10    25
8     25
3     25
1     25
20    24
5     22
14    21
7     17
Name: hour, dtype: int64

In [174]:
autolib_df.sort_values(by=['datetime'], inplace=True, ascending=True)
autolib_df

                                  address  cars  ...  minute            datetime
1046     112_Rue_Monge_BÃ¢timent_Lieu-dit     0  ...       0 2018-04-01 00:00:00
1107             19_place_de_la_Madeleine     0  ...       2 2018-04-01 00:02:00
2874            44_rue_SÃ©bastien_Mercier     0  ...       2 2018-04-01 00:02:00
2059                      2_Avenue_Mozart     1  ...       3 2018-04-01 00:03:00
4453             2_rue_Neuve_Saint-Pierre     0  ...       4 2018-04-01 00:04:00
...                                   ...   ...  ...     ...                 ...
2552             12_rue_Denfert_Rochereau     2  ...      48 2018-04-09 23:48:00
2672                       11_rue_Gerbert     2  ...      48 2018-04-09 23:48:00
4582                    82_rue_de_CrimÃ©e     5  ...      56 2018-04-09 23:56:00
4443    31_Bis_Rue_du_Faubourg_Montmartre     0  ...      58 2018-04-09 23:58:00
3201  21_bis_rue_Notre-Dame_des_Victoires     0  ...      58 2018-04-09 23:58:00

[4997 rows x 19 columns]

In [107]:
df = autolib_df[['bluecar_counter','kind', 'datetime']]
df

      bluecar_counter     kind            datetime
1046                0  STATION 2018-04-01 00:00:00
2874                0  STATION 2018-04-01 00:02:00
1107                0  PARKING 2018-04-01 00:02:00
2059                1  STATION 2018-04-01 00:03:00
4453                0  STATION 2018-04-01 00:04:00
...               ...      ...                 ...
2672                2  STATION 2018-04-09 23:48:00
2552                2  STATION 2018-04-09 23:48:00
4582                5  STATION 2018-04-09 23:56:00
3201                0  STATION 2018-04-09 23:58:00
4443                0  STATION 2018-04-09 23:58:00

[4618 rows x 3 columns]

4. Most popular station

4.1 What station is the most popular? Overall?

In [175]:
autolib_df['kind'].value_counts().idxmax()

'STATION'

STATION is the most popular kind of station

4.2 What station is the most popular? At the most popular picking hour?

In [179]:
#we have to join the counters columns 
sum_column = autolib_df["bluecar_counter"] + autolib_df["utilib_counter"] + autolib_df['utilib_1.4_counter']
autolib_df["col3"] = sum_column
autolib_df

                                  address  cars  ...            datetime  col3
1046     112_Rue_Monge_BÃ¢timent_Lieu-dit     0  ... 2018-04-01 00:00:00     0
1107             19_place_de_la_Madeleine     0  ... 2018-04-01 00:02:00     0
2874            44_rue_SÃ©bastien_Mercier     0  ... 2018-04-01 00:02:00     0
2059                      2_Avenue_Mozart     1  ... 2018-04-01 00:03:00     1
4453             2_rue_Neuve_Saint-Pierre     0  ... 2018-04-01 00:04:00     0
...                                   ...   ...  ...                 ...   ...
2552             12_rue_Denfert_Rochereau     2  ... 2018-04-09 23:48:00     2
2672                       11_rue_Gerbert     2  ... 2018-04-09 23:48:00     3
4582                    82_rue_de_CrimÃ©e     5  ... 2018-04-09 23:56:00     5
4443    31_Bis_Rue_du_Faubourg_Montmartre     0  ... 2018-04-09 23:58:00     0
3201  21_bis_rue_Notre-Dame_des_Victoires     0  ... 2018-04-09 23:58:00     0

[4997 rows x 20 columns]

5. What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

In [186]:
autolib_df[['postal_code', 'kind']]

      postal_code     kind
1046        75005  STATION
1107        75008  PARKING
2874        75015  STATION
2059        75016  STATION
4453        75004  STATION
...           ...      ...
2552        94000  STATION
2672        75015  STATION
4582        75019  STATION
4443        75009  STATION
3201        75002  STATION

[4997 rows x 2 columns]

In [187]:
autolib_df.postal_code.value_counts()

75015    274
75016    236
75017    221
75011    180
75020    169
        ...
93300      5
92110      4
91400      4
93310      4
94100      2
Name: postal_code, Length: 107, dtype: int64

5.1 Overall?

5.2 At the most popular picking hour?

6. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?